.App {
  text-align: center;
}

.mydiv{
  display: flex;
  justify-content: space-around;
  margin: 10px 7%;
  box-shadow: 1px 1px 5px grey;
  padding: 10px;
}

.gallery{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width:30%;
  margin: 10px;
}